<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Max,Elsa,丸子小姐,maodq,noiary"/>
    <meta name="description" content="The web site of Max and Elsa">
    <meta name="author" content="Max,Elsa">
    <title>Max and Elsa</title>

    <link href="/static/css/main.css" rel="stylesheet">
</head>
<body>
<div>
    <header></header>
</div>
<div align="center">
    <H2>Hi, this is Max and Elsa</H2>
    <H3>This's our first web site ^_^</H3>
    <H3>to be continued...</H3>
</div>
</body>
</html>