<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Max,Elsa,丸子小姐,maodq,noiary"/>
    <meta name="description" content="The web site of Max and Elsa">
    <meta name="author" content="Max,Elsa">
    <title>Max & Elsa</title>

    <!--<link type="text/css" href="../static/css/main.css" rel="stylesheet"/>-->
    <link rel="stylesheet" href="/static/css/main.css"/>
    <script src="/static/js/main.js"></script>
</head>
<body>
<div>
    <header>

    </header>
</div>
<div>
    <div id="header_tab">
        <strong id="header_title">Max & Elsa</strong>
        <a onclick="onTabClick()">精选</a>
        <a onclick="onTabClick()">未来</a>
        <a onclick="onTabClick()">过去</a>
        <a onclick="onTabClick()">About</a>
    </div>
    <div align="center" id="content">
        <p>Hi, this is Max and Elsa</p>
        <p>This's our first web site ^_^</p>
        <p>to be continued...</p>
    </div>
</div>
</body>
</html>
